.shrink-1 {
	flex-grow: 1;
	flex-shrink: 1;
}

.shrink-3 {
	flex-grow: 1;
	flex-shrink: 3;
}

.shrink-1-basis {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 150px;
}

.shrink-0-basis {
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 150px;
}

.shrink-3-basis {
	flex-grow: 1;
	flex-shrink: 3;
	flex-basis: 150px;
}

.flex-wrap {
	flex-wrap: wrap;
}


.item {
	margin: 5px;
	background: tomato;
	text-align: center;
	font-size: 1.5em;
}

/* Flex Container */
.container {
	max-width: 400px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
}
/* Flex Item */


h1 {
	text-align: center;
	margin: 1em 0 0 0;
	/*font-size: 1.25em;*/
	font-weight: normal;
}
h2 {
	text-align: center;
	margin: 0.5em 0 20px 0;
	/*font-size: 1.25em;*/
	font-weight: normal;
	color: rgb(38, 47, 170)
}

body {
	font-family: monospace;
	color: #333;
}